*{
  font-family: Arial, sans-serif;
  color: #B5C2B7;  
}

a {
  color: white;
}

body {
  text-align: center;
  height: 97vh;
  background-color: #2D2327;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #B5C2B7;
}

nav a:hover {
  text-decoration: underline;
}

canvas {
  display: block;
  position: fixed;
  top: -25%;
  height: 125vh;
  left: 0;
  margin: 0 auto;
  z-index: -999;
}

main {
  margin: 20px;
  height: calc(85vh - 160px);
  overflow-y: scroll;
}

.index-page {
  overflow-y: hidden;
} 

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  max-width: 1200px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.left-section {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  width: 30%;
}

.cards {
  display: flex;
  overflow-x: scroll;
}

.card {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 200px;
  height: 350px;
  padding: 5px;
}

.card img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.card h3 {
  margin: 0;
  font-size: 18px;
  color: #333333;
}

.right-section {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  text-align: center;
  width: 30%;
}

.right-section h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333333;
}

.right-section p {
  margin-top: 0;
  color: #777777;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.form-group button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group .switch-form {
  margin-top: 20px;
  color: #777777;
  text-decoration: underline;
  cursor: pointer;
}

.boxes {
  display: flex;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;

  margin: 5px;

  background-color: #62466B;

  border-radius: 5px;
  border: 1px #8C93A8 solid;
}

.big {
  font-size: 30px;
}

footer.music-player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #45364B;
  padding: 10px;
  box-sizing: border-box;
  border: solid #8C93A8 1px;
  border-radius: 2px;
  max-height: 140px;
}

footer.music-player img{
  width: 120px;
}

footer.music-player button{
  background-color: #2D2327;
  border-style: none;
  border-radius: 5px;
  padding: 6px;
}

footer.music-player button:active{
  background-color: #45364B;
}

.player-info {
  display: flex;
  flex-flow: column;
  flex-basis: inherit;
}

.buttons {
  display: flex;
  flex-flow: wrap;
}